

/* Heading */

#myname{
  width:60%;
  background: linear-gradient(90deg, #07effd 0%, #005fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1rem;
  background-position: 0 90%;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;

}

#myname:hover{
  background-size: 100% 90%;
  margin-right: 40%;
}

.lead{
  color: black;
}
.textsize{
  padding: 50px;
}



/* Skills */


h3{
  color: #fff;
  font-size: 30px;
}

p{
  color: rgba(255,255,255,.5);
  font-size: 15px;
}

.row{
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 50px;
  background-color:black;
   border-radius:10px;
   font-family: 'Montserrat', sans-serif;
}

/*
Projects */

/* .project{
  background-position: 0 90%;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, #07effd 0%, #005fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1rem;
  background-position: 0 90%;
}

.project:hover{
  background-size: 100% 90%;
  margin-right: 40%;
} */



.Projects {
  font-family: 'Montserrat', sans-serif;
  background: #eee;
  width: 100%;
  padding-top: 50px;
  border-radius: 20px;
}

.first-work{
  width: 30px;

}

.worktext{
  float: left;
  text-align: center;
}


.FootLocker-img{
  width: 80%;
  padding: 30px;
  border-radius: 50px;
  left:10px;
}

.Southland-img{
  width: 63%;
  padding: 30px;
  border-radius: 50px;
}

.udemy-align{
  align-items: center;
}
.udemy-img{
  width: 40%;
  padding: 30px;
  border-radius: 50px;
}

li{
  color: white;

}


.spacing-img{
  padding: 20px;
}

.work-color{
  color: white;
}


#footer{

  background-color: black;
  color:  #eee;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 50px 50px;
  border-radius: 20px;

}

.margin-icon{
  margin-right: 15px;
  padding-bottom: 20px;
  color: #eee;
}
